extends ../layouts/Layout
block content
    include ../layouts/HeaderTeacher
    a(href=`/faculty/add/class` style='margin:0 50px; position: relative; top: 10px;')= `Add Class `
        i(class='fa fa-angle-right' aria-hidden="true")
        i(class='fa fa-angle-right' aria-hidden="true")
    hr(style='margin:19px 0; border-top: 1px solid #ccc')

    if msg === ''
        .grid_con
            -classes.forEach(cls => {
                .class
                    a(href=`/classroom/${cls.name}` style='color:#000; font-size: 1.4rem;font-weight: bold;')= cls.subject
                    p= `${cls.department} - ${cls.section} (Batch ${cls.batch})`
                    p= `Semester: ${cls.semester}`
                    p= `Code: ${cls.code}`
                    p= `Students: ${cls.students.length}`
                    .classes_btn_con
                        if cls.requests.length
                            a(href=`/faculty/request/${cls.name}`)= `${cls.requests.length} Requests`
                        a(href=`/classroom/message/room/${cls.name}`) Message Room
                        a(href=`/classroom/assignment/${cls.name}`) Assignments
            -})
    
    else 
        h1(class='error' style='margin:0 30px ;')= msg