extends ../layouts/Layout
block content
    include ../layouts/HeaderTeacher
    
    if msg !== ''
        h1(class='error' style='margin:0 30px ;')= msg

    else 
        .class_det
            h1= cls.subject
            p= `Class Strength: ${cls.students.length}`
            p= `Requests Pending: ${cls.requests.length}`
            a(href=`/faculty/class/${cls._id}`)= `Go To Class `
                i(class='fa fa-angle-right' aria-hidden="true")
                i(class='fa fa-angle-right' aria-hidden="true")

            .students_con Loading...

            p(id='cid' data-class-id=`${cls._id}`)

    
    script(src="js/request.js")