extends ../layouts/Layout
block content
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/file-upload-with-preview@4.0.2/dist/file-upload-with-preview.min.css">

    if type === 'student' 
        include ../layouts/HeaderStudent
    else 
        include ../layouts/HeaderTeacher

    p.response_msg

    if error !== ''
        h1(class='error' style='margin:0 30px ;')= error

    else 
        .class_det2
            h1= cls.subject
            p= `Class Strength: ${cls.students.length}`
            p= `${cls.department} - ${cls.section} (Batch ${cls.batch})`
            p= `Semester: ${cls.semester}`
            if type === 'teacher' && cls.requests.length
                p= `Requests Pending: ${cls.requests.length}`
                    a(href=`/faculty/request/${cls.name}` style='margin-left: 30px;')= `Attend the requests `
                        i(class='fa fa-angle-right' aria-hidden="true")
                        i(class='fa fa-angle-right' aria-hidden="true")
            a(href=`/classroom/message/room/${cls.name}` style='margin-right: 10px;')= `Chat Room `
                i(class='fa fa-angle-right' aria-hidden="true")
                i(class='fa fa-angle-right' aria-hidden="true")
            a(href="#")= `Assignments `
                i(class='fa fa-angle-right' aria-hidden="true")
                i(class='fa fa-angle-right' aria-hidden="true")

        .class
            .member_list 
                h2(style='padding: 10px 20px;') Loading...
            .main_class_container
                .btn_con   
                    button.docs_btn.active Documents
                    button.anouncements_btn Annoucements
                .document_con
                    if type === 'teacher'
                        .document_input_con
                            form(class='add_doc')
                                div
                                    input(type="text" class='doc_context' placeholder='Enter the context')
                                div
                                    input(
                                        name="files" 
                                        accept="audio/*, video/*, image/*, text/*, application/*"
                                        id='documents' 
                                        class='document_input' 
                                        type="file" 
                                        multiple
                                    ) 
                                    label(for="documents" class='label_doc_input') Select Files
                                small(style='color: #7f7f7f;') *Only .pdf, .txt, .ppt, .png, .docx, .jpg, .svg, .jpeg, .mp4, .js, .html, .css are allowed.<br/> 
                                button(type="submit" class='upload') Upload
                            .preview_doc

                            .progress_con   
                                .progress_fill
                                .progress_text(style='position: relative;')

                    h2(style='width: 80%; margin: 10px auto;') Documents

                .announcement_con 
                    if type === 'teacher'
                        .announcement_input
                            input(type="text" name="" class='context' placeholder='Give the context')
                            div(contenteditable="true" class='content')
                            small(style='color: #7f7f7f;') Once Posted It Cannot be edited.<br/>
                            label(style='color: #7f7f7f;') Add Link: 
                            input(type="text" class="link_title" placeholder='If Left Empty The Link will be the name')
                            input(type="text" class='link_url' placeholder='Enter Url Here')
                            button.add_link Add 
                            <br/>
                            button.post Post

                    h2(style='width: 80%; margin: 10px auto;') Announcements
                    .announcements
                        h2 Loading...

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
        script(src="js/class.js" type="module")
        if type === 'student'
            script(src="js/student/class.js" type="module")
        else
            script(src="js/teacher/class.js" type="module")