extends ../layouts/Layout
block content

    .login_sign_con
        h2.form_head Student's Login

        form(method='POST' class=`form_container ${action}`)
            h2(style='color:#fff;') LOGIN

            //- email input field
            .field
                label Email
                input(
                    type="email" 
                    class='email_input' 
                    name="email" 
                    autocomplete='off'
                    value='ay4645@srmist.edu.in' 
                    required
                )

            //- password field
            .field 
                label Password
                input(
                    type="password" 
                    class='pwd_input' 
                    name="password" 
                    value='12345'
                    required
                )
            
            .btn_con
                button(type="submit") Login

            section= error

            .extra  
                a(href="/register") Signup Instead?
                a(href='/faculty/login') Faculty's Login
                a(href='/faculty/signup') Faculty's Register

    script(src="js/login.js")